*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#gameBoard {

    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;

    background-color: white;
    border: black 1px solid;

    cursor: pointer;
}

.cell.x::after, .cell.x::before,
.gameBoard.x .cell:not(.o):hover::after,
.gameBoard.x .cell:not(.o):hover::before {
    content: " ";
    position: absolute;
    background-color: black;
    width: 10px;
    height: 90px;
}

.cell.x::before,
.gameBoard.x .cell:hover::before {
    transform: rotate(45deg);
}

.cell.x::after, 
.gameBoard.x .cell:hover::after {
    transform: rotate(-45deg);
}

.cell.o::before,
.gameBoard.o .cell:not(.x):hover::before {
    content: "";
    background-color: black;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.cell.o::after,
.gameBoard.o .cell:not(.x):hover::after {
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.gameBoard.x .cell:not(.o):not(.x):hover::before,
.gameBoard.x .cell:not(.o):not(.x):hover::after {
    background-color: lightgrey;
}

.gameBoard.o .cell:not(.x):not(.o):hover::before {
    background-color: lightgrey;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.gameOverPage {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);

    font-size: 24pt;
    color: white;
}

.gameOverPage button {
    margin: 10px;
    padding: 10px 10px;
    font-size: 16pt;
    border-color: white;
}

.gameOverPage button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    color: white;
}

.gameOverPage.show {
    display: flex;
}